.display-contianer {
  border: solid 1px lightgray;
  padding: 30px 0 23px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #222;
  & > span {
    color: white;
    font-size: 4rem;
    font-weight: 100;
    margin: 0 15px;
  }
}